/* Background pattern from Toptal Subtle Patterns */
body
{
    background-image: url("../img/prism.png");
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

#title
{
    font-size: 32px;
    margin: 10px auto;
    padding-top: 5px;
    width: 500px;
    min-height: 50px;
    text-align: center;
    background-color: darkred;
    border: 3px solid black;
    border-radius: 30px;
}

#upload-data
{
    width: min-content;
    padding: 10px 10px;
    margin: 10px auto;
    text-align: center;
    background-color: darkred;
    border: 5px solid black;
    border-radius: 1px;
}

#upload-data input
{
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

#upload-config
{
    width: min-content;
    padding: 10px 10px;
    margin: 10px auto;
    text-align: center;
    background-color: darkgrey;
    border: 5px solid black;
    border-radius: 1px;
}

#upload-config input
{
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

#board
{
    width: 97vw;
    height: 93vh;
    margin: 20px auto 0 auto;
    padding: 5px;
    background-color: darkred;
    border: 3px solid black;
    border-radius: 5px;
    overflow: scroll;
}

#back-btn
{
    margin: 0 auto;
    text-align: center;
}

#back-btn button
{
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 25px;
}

th, td
{
    border: 1px solid black;
    margin: 0;
}

.table-head th
{
    border-bottom: 3px solid black;
}

table
{
    border: 3px solid black;
}