/* Background pattern from Toptal Subtle Patterns */
body {
    background-image: url("../img/prism.png");
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin: 10px auto;
    padding-top: 5px;
    width: 500px;
    min-height: 50px;
    text-align: center;
    background-color: darkred;
    border: 3px solid black;
    border-radius: 30px;
}

.upload-data {
    width: 50vw;
    padding: 10px 0;
    margin: 10px auto;
    text-align: center;
    background-color: darkred;
    border: 5px solid black;
    border-radius: 1px;
}

#max-sum, #token-values {
    width: 50%;
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

#token-values {
    width: 70%;
}

#generate-normal-btn, #generate-minmax-btn {
    width: min-content;
    margin: 5px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.board {
    width: 97vw;
    height: 93vh;
    margin: 20px auto 0 auto;
    padding: 5px;
    background-color: darkred;
    border: 3px solid black;
    border-radius: 5px;
    overflow: scroll;
}

.bottom-panel {
    text-align: center;
    display: flex;
}

.bottom-panel a{
    margin: 0 10px 0 auto;
    padding: 0 5px;
    color: black;
    background-color: cornflowerblue;
    text-decoration: none;
    display: block;
}

.bottom-panel a:hover{
    color: red;
}

.bottom-btn {
    width: min-content;
    margin: 0 0 0 10px;
}

.bottom-btn button {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 25px;
}

#copy-btn {
    margin: 0 10px 0 auto;
}