/* Background pattern from Toptal Subtle Patterns */
body {
    background-image: url("../img/prism.png");
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin: 10px auto;
    padding-top: 5px;
    width: 500px;
    min-height: 50px;
    text-align: center;
    background-color: darkred;
    border: 3px solid black;
    border-radius: 30px;
}

.upload-data {
    width: 50vw;
    padding: 10px 0;
    margin: 10px auto;
    text-align: center;
    background-color: darkred;
    border: 5px solid black;
    border-radius: 1px;
}

.upload-data input, textarea {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.board {
    width: 97vw;
    height: 93vh;
    margin: 20px auto 0 auto;
    padding: 5px;
    background-color: darkred;
    border: 3px solid black;
    border-radius: 5px;
    overflow: scroll;
}

.bottom-panel {
    text-align: center;
    display: flex;
}

.back-btn {
    width: min-content;
    margin: 0 auto 0 5px;
}

.back-btn button {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 25px;
}